.headerContainer
  width 100%
  height 88px
  .content
    box-sizing border-box
    margin 0 16px 0 16px
    position relative
    span
      line-height 88px
      font-size 50px 
      text-align center 
    .title
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      margin auto
      font-size 30px
      line-height 88px
      text-align center
    .right
      float right
      span
        line-height 88px
        font-size 60px 
        text-align center  
        margin 0 10px
