.profile-container
  height 100vh
  position relative
  background: #eeeeee
  .cont
    width 100%
    height 704px
    .logoWarp
      padding: 180px 0 232px 0
      display flex
      justify-content space-around
      img
        width: 268px
        height 92px
    .btnWarp
      height 220px
      padding 0 40px 0 40px
      .w-button
        height 92px
        margin-bottom 32px
        display flex
        justify-content center
        align-items center
        .icon
          background url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/login-s5ca4cb2b91-2c606efd24.png?imageView&type=webp) no-repeat
          width 40px
          height 40px
          background-size 100%
          margin-right 20px
        &:nth-child(1)
          background red
          color #fff
          span
            background-position 0px -50px
        &:nth-child(2)
          border 1px solid red
  .thirdWrap
    width 100%
    height 40px
    position absolute
    bottom 100px
    // background red
    display flex
    justify-content: center
    .itemWrap
      padding 0 40px
      font-size: 30px
      display: flex
      color: #7f7f7f
      .icon
        display: block
        width: 40px
        height 40px
        background url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/login-s5ca4cb2b91-2c606efd24.png?imageView&type=webp) no-repeat
        margin-right 6px
      &:nth-child(1)
        border-right 1px solid #7f7f7f
        .icon
          background-position: 0px -250px
      &:nth-child(2)
        border-right 1px solid #7f7f7f
        .icon
          background-position: 0px -150px
       &:nth-child(3)
        .icon
          background-position: 0px -200px