.m-swiperTab-container
  width 100%
  height 540px
  position relative
  .m-swiperTab-title
    width 100%
    height 524px
    position absolute
    top 0
    z-index 1
    .u-title
      width 130px
      height 69px
      position absolute
      top 60px
      left 12px
    .u-text
      font-size 30px
      color #fff
      position absolute
      top 79px
      left 146px
    .u-bg
      width 100%
      position absolute
      top 0
      z-index -1
  .m-swiper
    width 95%
    height 540px
    margin 0 20px
    background #fff
    z-index 2
    border-radius 16px
    position absolute
    top 140px
    .u-swiperContainer
      width 100%
      height 540px
      .swiper-wrapper
        width 100%
        height 540px
        display flex
        .u-swiperPage
          overflow hidden
          .u-group
            width 887px
            height 214px
            padding 36px 6px 
            display flex
            flex-wrap wrap
            .u-item
              width 168px
              height 201px
              display block
              margin-bottom 28px
              &.activ
                margin-top 28px
              .m-topContainer
                width 120px
                height 120px
                margin 0 24px
                .u-topPic
                  width 120px
                  height 120px
              .m-detail
                width 168px
                height 72px
                margin-top 8px
                .u-mainText
                  width 168px
                  height 40px
                  text-align center
                  white-space nowrap
                  text-overflow ellipsis
                  overflow hidden
                .u-descText
                  width 168px
                  height 30px
                  margin-top 2px
                  text-align center
                  white-space nowrap
                  text-overflow ellipsis
                  overflow hidden
                  font-size 20px
                  color #999999
