.headernav-container
  width 100%
  height 88px
  background: #fff
  .header
    padding 0 16px 0 24px
    height 100%
    // width 100%
    display flex
    justify-content space-between
    line-height 88px
    .icon
      display block
      width 40px
      height 40px
      background url('http://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/tabBar-s43a0dc8a7d-de25ef8e19.png') no-repeat
      // line-height: 88px
      margin-top 20px
      &:nth-child(1)
        background-position: 0 -245px
    .right
      display flex
      justify-content: space-between
      span
        &:nth-child(1)
          background-position: 0 -346px
          margin-right 10px
        &:nth-child(2)
          background-position: 0 -450px


