.m-wrappers
  width 100%
  position relative
  top 145px
  .m-lookList
    width 710px
    margin 30px 20px 0 20px
    .m-lookColumn
      width 345px
      .m-lookBlock
        width 345px
        height 549px
        margin-bottom 20px
        .m-innerWrapper
          width 100%
          height 100%
          .m-lookImageWrapper
            width 345px
            height 345px
            img 
              width 345px
              height 345px
              border-radius 20px
          .m-lookDesc
            width 311px
            height 80px
            padding 18px 16px 0 16px
            font-size 28px
          .u-placeHolder
            width 343px
            height 17px
          .m-lookDetail
            width 311px
            height 48px
            padding 17px 16px 24px 16px
            .m-userInfo
              width 100px
              height 48px
            .m-upArea
              width 100px
              height 48px 